@media (max-width:1024px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .content-Left .msgme {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width:1018px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .glucose-info .tech {
        visibility: hidden;
    }
}

@media (max-width:890px),
(max-height:800px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .glucose-info span {
        visibility: hidden;
    }
    .glucose-info .tech {
        visibility: hidden;
    }
    .realestate-info .tech {
        visibility: hidden;
    }
    .exercise-info .tech {
        visibility: hidden;
    }
}

@media (max-height:715px),
(max-width:800px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .aboutMe-info span {
        visibility: hidden;
    }
    .glucose-info p {
        width: auto;
        margin-right: 40px;
    }
    .exercise-info p {
        width: auto;
        margin-right: 40px;
    }
    .realestate-info p {
        width: auto;
        margin-right: 40px;
    }
}

@media (max-width:730px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .content,
    .info {
        width: 100%;
    }
    .glucose-info span {
        visibility: visible;
    }
}

@media (max-width:630px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .glucose-info span {
        visibility: hidden;
    }
}

@media (max-width:465px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .glucose-info span {
        visibility: hidden;
    }
    .exercise-info p span {
        visibility: hidden;
    }
}

@media (max-width:375px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .content-Left .msgme {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }
    .content,
    .info {
        width: 100%;
    }
    .glucose-info p {
        width: auto;
        padding-right: 20px;
    }
    .glucose-info span {
        visibility: hidden;
    }
    .realestate-info .tech {
        visibility: hidden;
    }
    .aboutMe-info span {
        visibility: hidden;
    }
    .aboutMe-info p {
        width: auto;
        padding-right: 20px;
    }
    .exercise-info p {
        width: auto;
        margin-right: 20px;
    }
    .exercise-info .tech {
        visibility: hidden;
    }
    .aboutMe-info h5 {
        padding-top: 130px;
    }
}

@media (max-width:325px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .content-Left .msgme {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }
    .content,
    .info {
        width: 100%;
    }
    .glucose-info p {
        width: auto;
    }
    .glucose-info span {
        visibility: hidden;
    }
    .realestate-info .tech {
        visibility: hidden;
    }
    .aboutMe-info span {
        visibility: hidden;
    }
    .aboutMe-info p {
        width: auto;
        padding-right: 20px;
    }
    .realestate-info p {
        width: auto;
        margin-right: 20px;
    }
    .exercise-info p {
        width: auto;
        margin-right: 20px;
    }
    .exercise-info span {
        visibility: hidden;
    }
    .aboutMe-info h5 {
        padding-top: 120px;
    }
    
}


















